.headers {
    padding-top: 11px;
    padding-left: 20px;
    padding-right: 20px;
    background: #20735F;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.header__containers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo__links {
    
}

.header__logo__imgs {
    width: 193px;
    height: 18px;
}

.header__lists {
    display: flex;
    align-items: center;
    gap: 54px;
}

.header__items {
    padding: 8px 15px;
}

.active__header__items {
    background: #F9F9FF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.header__link__links {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.header__link__imgs {
    
}

.header__link__texts {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #195244;
}

.active__header__link__texts {
    color: #F9F9FF;
}

.header__rights {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__right__img {
    width: 18px;
    height: 19px;
}

.header__right__imgs {
    width: 37px;
    height: 37px;
}