.postProductionFooter {
    padding: 38px 122px 17px 94px;
    background: #323232;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.postProductionFooter__container {
    display: flex;
    border-bottom: 1px solid #E9EBF3;
    margin-bottom: 23px;
}

.postProductionFooter__left {
    
}

.postProductionFooter__logo__link {
    margin-right: 149px;
}

.postProductionFooter__logo {
    margin-bottom: 40px;
}

.postProductionFooter__list {
    display: flex;
    align-items: center;
    gap: 26px;
}

.postProductionFooter__item {
    
}

.postProductionFooter__left__icon {
    width: 24px;
    height: 24px;
}

.postProductionFooter__right {
    display: flex;
    gap: 131px;
}

.postProductionFooter__right__item {
    margin-bottom: 20px;
}

.postProductionFooter__right__heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.postProductionFooter__right__link {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.postProductionFooter__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postProductionFooter__bottom__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}