.name {
    max-width: 1110px;
    width: 100%;
    padding: 30px 20px 0px 20px;
    background: #F4F4FB;
}   

.name__container {
    
}

.name__wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 29px;
}

.name__btn {
    border: none;
    background: none;
    outline: none;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #20735F;
    border-radius: 50%;
    cursor: pointer;
}

.name__img {
    
}

.name__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
}

.name__text1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 28px;
    color: #071C3F;
}

.name__btn1 {
    background: none;
    cursor: pointer;
    padding: 5px 12px;
    background: #FFFFFF;
    border: 1px solid #CED4E2;
    border-radius: 100px;
}