.dashboardCards {

}

.dashboardCards__container {

}

.dashboardCards__list {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.dashboardCards__item {
    max-width: 340px;
    width: 100%;
}

.dashboardCards__img {
    width: 340px;
    height: 252px;
}