.footer6 {
    padding: 38px 122px 17px 94px;
    background: #323232;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.footer__container6 {
    display: flex;
    margin-bottom: 23px;
    border-bottom: 2px solid #fff;
}

.footer__left__side6 {
    
}

.footer__logo__link6 {
    margin-right: 149px;
}

.footer__logo__img6 {
    margin-bottom: 43px;
}

.footer__left__list6 {
    display: flex;
    align-items: center;
    gap: 26px;
}

.footer__left__item6 {
    
}

.footer__left__link6 {
    
}

.footer__left__icon6 {
    width: 24px;
    height: 24px;
}

.footer__right__side6 {
    display: flex;
    align-items: center;
    gap: 131px;
}

.footer__right__item6 {
    margin-bottom: 20px;
}

.footer__right__heading6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer__right__link6 {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer__bottom6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__bottom__text6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}