.header2 {
    padding-top: 11px;
    padding-left: 20px;
    padding-right: 20px;
    background: #20735F;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.header__container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo__link2 {
    
}

.header__logo__img2 {
    width: 193px;
    height: 18px;
}

.header__list2 {
    display: flex;
    align-items: center;
    gap: 54px;
}

.header__item2 {
    padding: 8px 14px;
}

.active__header__item2 {
    background: #F9F9FF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.header__item__link2 {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__logo2 {
    
}

.header__item__text2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #20735F;
}

.active__header__item__text2 {
    color: #F9F9FF;
}

.header__right__side2 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__right__img {
    width: 18px;
    height: 19px;
}

.header__right__img2 {
    width: 37px;
    height: 37px;
}