.postsidebar{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    transition: 0.10s ease;
    top: 20%;
  }
  
  .postsidebaractive{
    top: 0;
    left: 0;
    transition: 0.10s ease;
  }

  .postsidebar__wrapper {
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  .postsidebar__list {
    background: #317396;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .postsidebar__item {
    padding: 5px;
  }

  .active__postsidebar__item {
    background: #F9F9FF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

  }

  .postsidebar__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .postsidebar__img {
    width: 15px;
    height: 15px;
  }

  .postsidebar__text {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 23px;
    color: #317396;
}

.active__postsidebar__text {
     color: #F9F9FF;
  }